{% extends 'base.html.twig' %}

{% block title %}Hello ReservasController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="http://localhost/pruebareservas/public/reservas.json" download>Descargar reservas</a>
    <table>
    <tr>
        <td>Localizador</td>
        <td>Huésped</td>
        <td>Fecha de entrada</td>
        <td>Fecha de salida</td>
        <td>Hotel</td>
        <td>Precio</td>
        <td>Posibles acciones</td>
    </tr>
        {% for reserva in reservas %}
        <tr>
            <td>{{ reserva.getLocalizador() }}</td>
            <td>{{ reserva.getHuesped() }}</td>
            <td>{{ reserva.getEntrada() }}</td>
            <td>{{ reserva.getSalida() }}</td>
            <td>{{ reserva.getHotel() }}</td>
            <td>{{ reserva.getPrecio() }}</td>
            <td>{{ reserva.getAcciones() }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
